body {
  background-image: linear-gradient(
    to bottom right,
    #923f01,
    #8e6c22,
    #bda273,
    #576a3f,
    #1d2710
  );
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  overflow: hidden;
}
.link-body a {
  text-decoration: none;
  color: #43197eb3;
}

.link-body a:hover {
  color: #fefefe;
  transition: 0.3s;
}
.link-table td,
.link-table th {
  border-top: 1px solid #928bf1;
  padding: 8px;
}
.bottom-border {
  border-bottom: 1px solid #928bf1;
}
.link-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  border-top: none;
  color: white;
  text-align: center;
}
