body {
  background-image: linear-gradient(
    to bottom right,
    #9a0606,
    #a33261,
    #cda4b1,
    #d8af99,
    #d09b29,
    #b05007
  );
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  overflow: hidden;
}

.link-body a {
  text-decoration: none;
  color: #43197eb3;
}

.link-body a:hover {
  color: #fefefe;
  transition: 0.3s;
}

.link-head th {
  border-bottom: 1px solid #928bf1;
  padding: 0 5px;
}

.link-table th {
  border-top: none;
  color: white;
}
.link-table td {
  border-left: 1px solid #928bf1;
}
